body{
    margin: 0 auto;
    /* background: url('../images/background.jpg'); */
    background-size: cover;
    max-width: 1250px;
}

main {
    margin: 0 auto;
    max-width: 600px;
    /* text-align: center; */
}

h1 {
    border-bottom: 4px double #ccc;
    font-size: 4rem;
}

header{
    height: 10rem;
    
}

.site-title {
    font-size: 5rem;
}